.Intro {
    width: 800px;
    text-align: left;
    margin-top: -22px;
    padding-bottom: 20px;
    margin-left: 30px;
}

ul {
    list-style: none;
}

ul li::before {
    content: '\2666';
    color: #EE7023;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: -1em;
}

.introBtn {
    background-color: #EE7023;
    border: none;
    padding: 8px 20px;
    border-radius: 3px;
    box-shadow: 0 0 2px #EE7023;
    cursor: pointer;
}

.logo {
    width: 160px;
    margin-top: 10px;
    margin-left: -12px;   
}