.main {
    position: relative;
}
.NavContainer {
    width: 800px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 40px 0; 
    margin-left: calc((100% - 800px) / 2);
}

span {
    width: 25px;
    line-height: 25px;
    color: #fff;
    padding: 10px;
    background-color: #ccc;
    border-radius: 50%;
    z-index: 2;
}

.active {
    background-color: #EE7023;
}
.line {
    width: 790px;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 100px;
    left: calc((100% - 790px) / 2);
    z-index: 1;
}